*{
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
}
#mainDiv div kbd{
    width: 4em;
    height: 4em;
    display: inline-block;
    border: thin solid red;
    position: relative;
}
#mainDiv div kbd button{
    position: absolute;
    right: 0;
    bottom: 0;
}
#mainDiv{
    text-align: center;
}